body {
    margin: 0;
    font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 13px;
    background-color: #fff;
    line-height: 1.5;
    text-align: left;
}

.d-none {
    display: none;
}

.topbar-container {
    position: fixed;
    display: flex;
    background-color: #ff8000 !important;
    z-index: 17;
    color: white;
    font-size: 20px;
    width: 100%;
}

.navbar-brand {
    font-size: 1rem;
    filter: invert(25);
}

.front-image {
    object-fit: cover;
    height: 250px;
    background-image: url(../img/pexels-edward-eyer-1049620.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 70%
}

.nav-img {
    filter: invert(1);
}

.number {
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    padding-right: 16px;
    padding-left: 16px;
    align-items: center !important;
    position: initial;
    align-items: center;
    width: 40%;
}

.number-count {
    font-weight: 400;
    width: 112px;
    min-width: 112px;
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    line-height: 35px;
    padding: 0px 12px 0px 12px;
    margin-right: 40px;
    margin-left: 4px;
}

.number .btn {
    margin: 5px !important;
    font-size: 1rem;
    width: 150px;
}

.number :hover {
    cursor: pointer;
}

.basket-container {
    top: 72px;
    position: fixed;
    display: inline-block;
    background-color: transparent;
    z-index: 16;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
    width: 30%;
    bottom: 0;
    right: 0;
    transition: all 225ms ease-in-out;
    overflow: auto;
}

.basket-button {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    height: 72px;
    letter-spacing: normal;
    line-height: 1.38;
    min-width: 275px;
    margin: 0!important;
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
}

.basket-button-label-title {
    color: black;
}

.basker-button-secondary {
    background-color: #fff;
    border-bottom: 1px solid #f8f5f2;
    cursor: default;
    height: 56px;
}

.basket-button-label {
    margin: 0;
    text-align: center;
    width: 100%;
    color: #666;
}

.basket {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
}

.card-row {
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    align-content: center;
    transform: translateZ(0);
}

.card-column {
    display: flex;
    font-size: 15px !important;
    color: black;
}

.item-price {
    text-align: right;
    min-width: 3rem;
    white-space: nowrap;
}

.icon3 {
    height: 24px !important;
    width: 24px !important;
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.basket-products {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.shoppingcard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.shoppingcard p {
    padding: 25px;
}

.sum-container {
    border-top: solid lightgrey 1px;
}

.sum-row {
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.totale {
    color: black;
}

.sumcheck {
    border-top: solid lightgrey 1px;
    text-align: center;
    margin-top: 55px;
    font-size: small;
}

.btn-order {
    border-top: solid lightgrey 1px;
    width: 100%;
    margin-top: 20px;
}

.btn {
    border-top: solid lightgrey 1px;
}

.menu-meals {
    position: relative;
}

.menu-meals.has-imprint {
    margin-bottom: 15px;
}

.menucard-notification {
    padding: 25px;
}

.menucard-main {
    width: 70%;
}

.menucard-listing .menu-menucard {
    padding-top: 0;
    width: 100%;
}

.menucard-listing .menucard-notification {
    margin-bottom: 7px;
}

.menucard-listing .menucard-container {
    padding: 0 24px;
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
}

.menucard-listing .menucard-notification .restaurant-name h1 {
    max-width: calc(50% - 65px - 24px - 24px);
    margin: 17px 0 0;
}

.menucard-listing .menucard-notification .restaurant-info {
    margin-bottom: 24px;
    max-width: 738px;
}

.menucard-mealsgroup {
    padding-left: 30px;
    padding-right: 30px;
}

.category-image {
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1px 1px 0 0;
    height: 184px;
}

.item-name {
    padding-top: 25px;
    padding-bottom: 25px;
}

.meal-container {
    border: 1px solid rgb(213, 232, 238);
    border-radius: 3px;
    margin: 8px 0;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: 25px;
    margin-left: 25px;
    padding: 15px 15px;
    display: flex;
}

.meal-container-name {
    padding-right: 12px;
    width: 60%;
}

.meal-name {
    font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #0a3847;
    margin: 0 0 20px;
}

.meal-price {
    font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -.5px;
    color: #ff8000;
    margin: auto 0 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.add-item {
    font-family: fontello;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-radius: 0 2px 0 0;
    color: #1574f5;
    font-size: 14px;
    text-align: center;
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.basket-bottom-bar {
    display: flex;
    height: 72px;
    font-weight: 400;
    width: 100%;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 12px;
}

.basket-bottom-button {
    border-top: solid lightgrey 1px;
    width: 100%;
}

.basket-button-icon-container {
    top: 0;
    left: 0;
    height: 65%;
    width: 100%;
    position: absolute;
}

.basket-button-icon {
    top: 50%;
    left: 22px;
    position: absolute;
}

.basket-button-counter {
    background: #ff8000;
    border-radius: 100%;
    border: 0;
    color: #fff;
    display: block;
    font-size: 18px;
    width: 18px;
    height: 18px;
    letter-spacing: 0;
    line-height: 17px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    left: 40px;
    top: calc(50% + 2px);
}

.navbar-toggler {
    outline: none !important;
}

.basket-button-close {
    font-weight: 400;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    filter: invert(1);
    padding-right: 12px;
}

.minimumcost {
    color: green;
}

.minimumcost p {
    width: 70%;
}

.minimumcost span {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.amount {
    width: 50%;
}

.cart-meal-amount {
    width: 20px;
    padding-right: 32px;
}

.cart-meal-name {
    width: 20%;
    word-break: break-word;
    flex: 1 1;
}

.card-meal-edit {
    width: 40%;
}

.cart-meal-delete {
    width: 24px;
    height: 24px;
}

@media (min-width: 1024px) {
    .show-mobile {
        display: none;
    }
}

@media(max-width: 1024px) {
    .d-none {
        display: none;
    }
    .hide-mobile {
        display: none;
    }
    .basket-container {
        top: 0 !important;
        position: fixed;
        background-color: #fff;
        z-index: 101;
        width: 100% !important;
        bottom: 0;
        right: 0;
    }
    .front-image {
        width: 100% !important;
    }
    .menucard-main {
        width: 100% !important;
    }
    .number {
        padding-right: 0px !important;
        padding-left: 0px !important;
        display: block;
        align-items: center !important;
        position: initial;
    }
    .basket-button-label {
        margin: 0;
        text-align: center;
        width: 100%;
        color: white;
    }
    .basket-button-label p {
        line-height: 1.5;
    }
}

@media (max-width: 830px) {
    .number {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .meal-container {
        flex-direction: column;
    }
}